.header{
  background-image: url(../../assets/vector.svg);
  background-size: 275px;
  background-repeat: no-repeat;
  background-position: right top;
  width: 500px;
  text-align: center;
  padding-top: 50px;
}

@media (max-width:640px) {
  .header{
    background-size: 135px;
    width: 250px;
  }
}
.header h2{
  color: var(--color-text-white);
  font-size: var(--fontsize-heading);
  margin: 0;
}
.header p{
  color: var(--color-text-grey);
  font-size: var(--fontsize-label);
  margin: 5px;
}